<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.7.0.slim.js" integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" crossorigin="anonymous"></script> -->
    <script>
     
    </script>
  </head>
  <body>
    <section class="container">
      <header>Login Form</header>
      <form class="form" id="loginform">
        <div class="input-box">
          <label>Email Address</label>
          <input
            type="text"
            name="email"
            placeholder="Enter email address"
            required
          />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Password</label>
            <input
              type="password"
              name="password"
              placeholder="Enter password"
              required
            />
          </div>
          <!-- <div class="input-box">
              <label>Confirm Password</label>
              <input type="password" name="cpass" placeholder="Enter confirm password" required />
            </div> -->
        </div>

        <!-- <input type="submit" id="submit" name="sub-btn" value="Login"> -->
        <input type="button" id="submit" name="sub-btn" value="Login" />
      </form>

      <script>
        $(document).ready(function () {
          $("#submit").click(function (event) {
            var formData = $("#loginform").serialize(); // Create a FormData object from the form

            alert(formData); // Just for debugging purposes, you can see the FormData object in the browser console

          

            $.ajax({
              method:'POST',
              url: "/Student/signin-que4",
              data: formData,
              success: function (result) {
               console.log(result);
               if (result.success==true) {
                window.location.href='/Student/home'
                alert(result.message);
               }
               else if(result.success==false) {
                alert(result.error);
               }
              }, 
              
            });

            //   type: 'POST',
            //   url: '/signup', // Replace with your server-side URL
            //   data: formData,
            //   success: function(response) {
            //     // Handle success response
            //     alert('Form submitted successfully!');
            //     // You can do more actions here, like showing a success message
            //   },
            //   error: function(xhr, status, error) {
            //     // Handle error response
            //     alert('An error occurred while submitting the form.');
            //   }
            // });
          });
        });
      </script>
    </section>
  </body>
</html>
